<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/tab.js"></script>
</head>
<body>
       <div class="container-fluid">
          
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Data</h6>
          </div>
          <input
          class="form-control"
          id="myInput"
          type="text"
          placeholder="Search.."
          />
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Cluster Name</th>
                    <th>Aggr Name</th>
                    <th>Total Size</th>
                    <th>Used Size</th>
                    <th>Percent</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Cluster Name</th>
                    <th>Aggr Name</th>
                    <th>Total Size</th>
                    <th>Used Size</th>
                    <th>Percent</th>
                    <th>Date</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for result in results %}
                  <tr>
                    <td>{{ result.cluster_name }}</td>
                    <td>{{ result.aggr_name }}</td>
                    <td>{{ result.total_size }}</td>
                    <td>{{ result.used_size }}</td>
                    <td>{{ result.percent }}</td>
                    <td>{{ result.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <script>
        $(document).ready(function () {
          $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dataTable tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
          });
        });
      </script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <!-- <script src="../static/js/tab.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/datatables-demo.js') }}"></script> -->
 
</body>
</html>
